<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top l-navbar-color">
        <div class="container">
            <div class="l-navbar">
                <div class="l-navbar-left">
                    <a href="/Home/Index"><img src="~/Content/Images/logo/mm-logo-znak.png" class="l-Logo" /></a>
                </div>
               <div class="l-navbar-middle">
                   <div class="navbar-header">
                       <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                       </button>
                   </div>
                   <div class="navbar-collapse collapse">
                       <ul class="nav navbar-nav">
                           <li>@Html.ActionLink("Galerija", "Galerija", "Home")</li>
                           <li>@Html.ActionLink("Ponuda", "Ponuda", "Home")</li>
                           <li>@Html.ActionLink("O Nama", "ONama", "Home")</li>
                           <li>@Html.ActionLink("Kontakt", "Kontakt", "Home")</li>
                       </ul>
                       @*@Html.Partial("_LoginPartial")*@
                   </div>
               </div>
                <div class="l-navbar-right"></div>
            </div>
        </div>
    </div>
    <div style="overflow:hidden;">
        @RenderBody()
        <hr />
        <footer class="custom-footer">
            <div class="container">
                <div class="row row-wrap">
                    <div class="col-md-5">
                        <div>
                            <a class="logo" href="/Home/Index">
                                <img src="~/Content/Images/logo/mm-logo.png" height="25" alt="MikroMars" title="MikroMars Logo" /><br />
                            </a>
                        </div>
                    </div>                    
                    <div class="col-md-3">
                        <ul class="footer-ul">
                            <li><a href="/Home/ONama">O nama</a></li>
                            <li><a href="/Home/Index">Početna</a></li>
                            <li><a href="/Home/Galerija">Galerija</a></li>
                            <li><a href="/Home/Ponuda">Ponuda</a></li>
                        </ul>
                    </div>    
                    <div class="col-md-4" style="text-align:right;">
                        <p><b>KONTAKT</b>:</p>
                        <p><strong>Miloš Maričić</strong> - 0123456789</p>
                        <p><strong>Mirko Lišanin</strong> - 0123456789</p>
                    </div>                   
                </div>
                <hr style="color:gray;border:0.5px solid;" />
                <div class="row row-wrap">
                    <div class="col-md-12 ta-center">
                        <p style="color:gray">MikroMars polaže sva prava na sajt i sve njegove delove.</p>
                    </div>
                </div>
            </div>
            <div class="ta-center">
                <p>MikroMars &copy; @DateTime.Now.Year</p>
            </div>
        </footer>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>